/firmware/bootloader/
/firmware/controller/
/firmware/hdmi/
/firmware/keyboard/
/firmware/twiboot/
/hardware/library/
/hardware/memory/
/software/cpm/
/software/crt/
/software/loader/
/software/monitor/
/software/putsys/
/software/tetris/
/tools/convert-font/
/tools/create-disk/
/tools/mount-cpm/
/tools/setup/
/tools/upload/
/tools/emulator/

zasm
/hardware/keyboard/
